.App {
  text-align: center;
}

.App-logo {
  height: 220px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
 filter: drop-shadow(0px 4px 3px #2c2f3b);
}

body {
  color: #333399;
  background-color: #181818;
}

button {

}

.logo-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 150px;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(-45deg, #ff0066, #ffff99);
  height: 180px;
  padding: 20px;
  color: white;
}

.header-buffer {
  width: 5.5%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.album-cover {
  width: 50%
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.song-card {

  background-color: #ffcccc;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 2px 5px #6666ff;
  background-image: linear-gradient(0deg, #8080ff, #e6e6ff);
}

.song-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  width: 30%;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.birth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.spotify-login-button {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  margin-top: 20px;
  background-color: #b8fee7;
  border-radius: 8px;
  box-shadow: 0 2px 5px #cdfeee;
  height: 30px;
}

.spotify-logout-button {
  background-color: #b8fee7;
  padding: 5px;
  border-radius: 8px;
  margin-left: auto;
  box-shadow: 0 2px 5px #000000;
}

.logout-buffer {
  width: 5%;
}

.white-text {
  color: #fff;
}

.player-art {
  height: 150px;
}

.logout-image {
  height: 50px;
}

.submit-year-button {
  margin: 10px;
  background-color: #b8fee7;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 5px #000000;
  font-size: 15px;
  font-weight: bold;
}

.player-button-image {
  height: 20px;
}

.player-button {
  background-color: #b8fee7;
  border-radius: 8px;
  margin: 2px;
  box-shadow: 0 2px 5px #000000;
  padding-top: 4px;
}

.create-new-playlist-button {
  color: #333333;
  font-size: 15px;
  font-weight: bold;
  margin: 10px;
  margin-top: 20px;
  background-color: #b8fee7;
  border-radius: 8px;
  box-shadow: 0 2px 5px #cdfeee;
  height: 30px;
  width: 300px;

}

.music-player {
  color: #181818;
  background-color: #ffcccc;
  width: 300px;
  border-radius: 5px;
  position: fixed;
  margin: 44px 10px;
  box-shadow: 0 2px 5px rgba(200, 20, 150, 1);
  background-image: linear-gradient(0deg, #e60073, #ffe6f2);

}

.playlist-page-container {
  display: flex;
  justify-content: space-between;
}

.playlist-container {
  width: 70%;
}
